:root {
  --primary-clr: #ef7f1a;
  --secondary-clr: #5b5b5b;
  --accent-clr: #4ea5d9;
  --neutral-clr: #f3fcf0;

  --max-container-width: 1250px;
  --view-width: 80%;

  --heading-1-size: clamp(2rem, 3.5vw, 3rem);
  --heading-2-size: clamp(1.5rem, 3vw, 1.875rem);
  --heading-3-size: 1.5rem;

  --paragraph-1-size: clamp(1.1rem, 1.5vw, 1.375rem);
  --paragraph-2-size: 1.125rem;
  --paragraph-3-size: 0.9375rem;

  --section-padding-xs: calc(var(--section-padding) / 2.5);
  --section-padding: 2.5em;
  --section-padding-md: calc(2 * var(--section-padding));
  --section-padding-lg: calc(3 * var(--section-padding));
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* FONT FAMILIES */
/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif; 
*/

body {
  font-family: "Montserrat", sans-serif;
  font-size: var(--paragraph-2-size);
  color: var(--secondary-clr);
  overflow: overlay;
}

::-webkit-scrollbar {
  width: 0.6em;
  height: 0.6em;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0.4em var(--accent-clr);
  border-radius: 5px;
}

::selection {
  background: rgba(78, 165, 217, 0.4);
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

/* TYPOGRAPHY */

h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
}

h1 {
  font-size: var(--heading-1-size);
}

h2 {
  font-size: var(--heading-2-size);
}

h3 {
  font-size: var(--heading-3-size);
}

/* Utility classes */

.container {
  max-width: var(--max-container-width);
  width: var(--view-width);
  margin: 0 auto;
  position: relative;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.accent-clr {
  color: var(--accent-clr);
}

.primary-clr {
  color: var(--primary-clr);
}

.primary-bg {
  background-color: var(--primary-clr);
}

.secondary-bg {
  background-color: var(--secondary-clr);
}

.accent-bg {
  background-color: var(--accent-clr);
}

.neutral-bg {
  background-color: var(--neutral-clr);
}

.secpad-xs {
  padding: var(--section-padding-xs) 0;
}

.secpad-sm {
  padding: var(--section-padding) 0;
}

.secpad-md {
  padding: var(--section-padding-md) 0;
}

.secpad-lg {
  padding: var(--section-padding-lg) 0;
}

/* SPECIFIC */

.btn {
  cursor: pointer;
  transition: opacity 0.15s ease, transform 0.25 ease-in-out;
}

.btn:hover {
  opacity: 0.75;
}

.btn:active {
  transform: scale(0.97);
}

/* HEADER */

.logo {
  max-height: clamp(3rem, 5.5vw, 4rem);
  margin: 0 auto;
}

.nav__item {
  margin: 0 auto;
  text-align: center;
  margin-top: 1em;
}

.header {
  box-shadow: 4px 0 10px var(--secondary-clr);
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav {
  visibility: hidden;
  height: 0;
  position: absolute;
}

.nav--hidden {
  visibility: visible;
  height: auto;
  position: relative;
}

.nav__link,
.nav__link--active {
  font-size: var(--heading-2-size);
  font-family: "Oswald", sans-serif;
  color: var(--secondary-clr);
  transition: opacity 0.2s ease-in-out, color 0.5s ease-in-out;
}

.nav__link--active {
  color: var(--primary-clr);
}

.nav__link:hover,
.nav__link--active:hover {
  opacity: 75%;
}

.nav-toggle {
  cursor: pointer;
  border: 0;
  width: 3rem;
  height: 3rem;
  padding: 0em;
  border-radius: 50%;
  background: var(--secondary-clr);
  transition: opacity 250ms ease;

  position: absolute;
  right: 0;
  top: 0;
}

.nav-toggle:hover {
  opacity: 0.75;
}

.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: var(--primary-clr);
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

/* FOOTER */

.footer {
  color: white;
}

/* HERO */

.hero {
  max-width: 675px;
  margin: 0 auto;
  padding: var(--section-padding) 0;
  text-align: center;
}

.hero__content {
  max-width: 450px;
  margin: 0 auto;
}

.hero__title {
  margin-bottom: 1em;
  font-size: var(--heading-1-size);
}

.hero__text {
  font-size: var(--paragraph-1-size);
  line-height: 1.5;
  max-width: 450px;
  text-align: start;
  margin: 0 auto;
}

.hero__text {
  margin-bottom: 1em;
}

.hero__img {
  margin-bottom: 1.5em;
}

/* INFOBOXES */

.info {
  padding: var(--section-padding) 0;
  box-shadow: 0 0 12px var(--secondary-clr);
}

.info__container {
  max-width: 350px;
}

.info__box {
  border: 3px solid var(--primary-clr);
  border-radius: 5px;
  padding: var(--section-padding) var(--section-padding-xs);
  text-align: center;
}

.info__img {
  margin: 1.5em 0;
}

.info__title {
  margin-bottom: 1em;
}

.info__btn {
  margin-top: 1.5em;
}

/* CANDIDATES */

#candidates {
  padding: var(--section-padding) 0;
  text-align: center;
}

.candidate-cards {
  padding: var(--section-padding) 0;
  display: flex;
  gap: 2em;
}

.card {
  max-width: 375px;
  text-align: center;
  padding: var(--section-padding) var(--section-padding-xs);
  width: 100%;
  /* border: 2px solid red; */
}
.card:hover img, .saved-card:hover img {
  box-shadow: 0 0 15px var(--secondary-clr);
}

.card__img, .saved-card__img {
  border-radius: 50%;
  height: 8em;
  width: 8em;
  object-fit: cover;
  margin: 0 auto;
  margin-bottom: 1.5em;
}

.card__img:hover, .saved-card__img:hover {
  transform: scale(1.2);
}

.card__idea,
.card__cost,
.card__time {
  margin-bottom: 0.9em;
  font-size: clamp(1.2rem, 3vw, var(--heading-3-size));
}

.card__name,
.card__email,
.card__phone {
  margin-bottom: 1.2em;
}

.card__accent {
  font-size: var(--heading-2-size);
}

.footer {
  padding: var(--section-padding) 0;
}

.footer__title {
  text-align: center;
}

.footer__info__title {
  margin-bottom: 1em;
}

.footer__info {
  margin-top: 2.5em;
}

.footer__info__list__item + .footer__info__list__item {
  margin-top: 1em;
}

.footer__info__list__link,
.footer__info__text {
  color: var(--neutral-clr);
  font-size: var(--paragraph-3-size);
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 0.1em;
}

.footer__info__list__link:hover,
.footer__info__list__link:focus {
  opacity: 0.65;
  text-decoration: underline;
}

  /* SAVED */
  .saved__container {
    padding: var(--section-padding) 0;
  }

  .saved__header {
    text-align: center;
  }

  .saved__title {
    margin-bottom: 0.35em;
  }

  .saved-cards {
    padding: var(--section-padding) 0 0;
  }

  /* SAVED CARD */

  .saved-card {
    margin-top: 1em;
    text-align: center;
    position: relative;
    padding: var(--section-padding-xs);
    max-width: 350px;
    margin: 0 auto;
  }

  .reject-x {
    position: absolute;
    top: 0.75em;
    left: 0.75em;
    border-radius: 50%;
    border: 2px solid var(--primary-clr);
    color: var(--primary-clr);
    height: 1.75em;
    width: 1.75em;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .reject-x:hover {
    background-color: var(--primary-clr);
    color: #FFF;
  }

  .reject-x:active {
    transform: scale(.94);
  }

  .saved-card__contact-info, .saved-card__idea-info {
    margin-bottom: 2em;
  }

  .saved-card__contact-info h3 {
    font-size: clamp(1.2rem, 3.5vw, 1.5rem);;
  }

  .saved-card-bg {
    background-color: var(--neutral-clr);
  }

  .saved-card__idea-info--hidden,
  .saved-card__contact-info--hidden {
    display: none;
  }
/* MEDIA */

@media (min-width: 600px) {
  .nav-toggle {
    display: none;
  }

  .nav {
    visibility: visible;
    position: relative;
    height: auto;
  }

  .nav__list {
    display: flex;
    gap: 2.5em;
    align-items: center;
  }

  .nav__item {
    margin: 0;
  }

  .logo {
    margin: 0;
  }

  .row,
  .footer__row--two {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer__row--two {
    align-items: baseline;
  }

  .saved-card {
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
  }

  .saved-card__img-container {
    min-width: 8em;
  }

  .saved-card__img, 
  .saved-card__contact-info,
  .saved-card__idea-info, 
  .saved-card button {
    margin: 0;
  }

  .saved-card__idea-info,
  .saved-card__contact-info,
  .saved-card__img-container {
    flex: 1;
  }

  .saved-card__img {
    margin-bottom: 0.75em;
  }

  .saved-card__img,
  .saved-card__btn {
    max-width: 200px;
    margin: 0 auto 0.75em;
  }
}

@media (min-width: 700px) {
  .info {
    max-width: 100%;
    margin: 0;
  }

  .info__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 80%;
  }

  .info__box {
    max-width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .info__img {
    order: -1;
    min-width: 100%;
    margin: 0 0 2em;
  }
}

@media (min-width: 775px) {
  .card {
    max-width: 100%;
  }

  .card__name,
  .card__email,
  .card__phone {
    margin-bottom: 1.55em;
  }
}

@media (min-width: 1000px) {
  .hero__content {
    max-width: 100%;
    margin: 0;
  }

  .hero {
    max-width: 100%;
    margin: 0;
    padding: var(--section-padding-md) 0;
    text-align: start;
  }

  .hero__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .hero__container > * {
    width: 48%;
  }

  .hero__img {
    margin: 0;
  }

  .hero__text {
    margin: 0 0 1em;
  }

  .info {
    padding: var(--section-padding-md) 0;
  }

  .footer__row--one {
    display: flex;
    justify-content: space-between;
  }

  .footer__row--two {
    width: 60%;
  }

  .footer__info--about {
    width: 30%;
  }

  .saved-card__idea-info--hidden,
  .saved-card__contact-info--hidden {
    display: block;
  }

  .saved-card__img,
  .saved-card__btn {
    max-width: 100%;
    margin: 0;
  }

  .saved-card__img-container {
    width: 8em;
    flex: 0;
  }

  .saved-card {
    padding: var(--section-padding);
    box-shadow: inset 0 0 8px var(--secondary-clr);
  }

  .saved-card:nth-child(2n) {
    background-color: var(--neutral-clr);
  }

  .card__time--saved,
  .card__phone--saved {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .info,
  .hero,
  .footer,
  #candidates {
    padding: var(--section-padding-lg) 0;
  }

  .footer__title {
    margin-bottom: 1em;
  }

  .info__container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 1.5em;
    max-width: var(--max-container-width);
  }

  .info__box {
    max-width: 30%;
    padding: var(--section-padding);
  }

  .info__img {
    order: 0;
    flex: 1;
    object-fit: cover;
    margin: 0;
  }

  .info__img {
    order: 0;
    min-width: 0;
  }
}
